<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>РЕСТАВРАЦИЯ ВАНН АКРИЛОМ. О компании</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/twentytwenty.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="page-about.html">О нас</a></li>
            </ul>
        </div>
    </div>

    <section class="section-about">
        <div class="container">
            <h2>О КОМПАНИИ <span class="text-accent">GLAVVANN</span></h2>

            <div class="section-about__content">
                <div class="video-wrapper">
                    <div class="image"><img src="img/video-preview.jpg" alt=""></div>
                    <div class="video-play"></div>
                </div>

                <div class="description-company">
                    <p>ГлавВанн. Наша компания занимается установкой акриловых вкладышей в ванну, реставрацией ванны
                       жидким акрилом, ремонтом ванных комнат и сан. узлов. Выполняем работу качественно и в оговоренный
                       срок.</p>

                    <p>Наши опытные мастера, со стажем работы более 10 лет, всегда ответят на вопросы и найдут наиболее
                       выгодное
                       для Вас решение проблемы. Мы работаем профессиональным инструментом, соблюдаем уровень
                       шума при ремонте и даем гарантию
                       на выполненные работы.</p>

                    <p>Работаем в удобное для Вас время в Санкт-Петербурге
                       и Ленинградской области.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="company-document">
        <div class="container">
            <div class="box-left">
                <h2>МЫ ИМЕЕМ <span class="text-accent">ПОЛНЫЙ ПАКЕТ
                ДОКУМЕНТОВ</span></h2>
                <div class="text">
                    <p>ГлавВанн. Наша компания занимается установкой акриловых вкладышей в ванну, реставрацией ванны
                       жидким акрилом, ремонтом ванных комнат и сан. узлов. Выполняем работу качественно и в оговоренный
                       срок.</p>

                    <p>Наши опытные мастера, со стажем работы более 10 лет, всегда ответят на вопросы и найдут наиболее
                       выгодное
                       для Вас решение проблемы. Мы работаем профессиональным инструментом, соблюдаем уровень
                       шума при ремонте и даем гарантию
                       на выполненные работы.</p>

                    <p>Работаем в удобное для Вас время в Санкт-Петербурге
                       и Ленинградской области.</p>
                </div>
            </div>

            <div class="company-document-slider">
                <div class="slide">
                    <div class="certificate-img">
                        <img src="img/certificate6.jpg" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="certificate-img">
                        <img src="img/certificate6.jpg" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="certificate-img">
                        <img src="img/certificate6.jpg" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="certificate-img">
                        <img src="img/certificate6.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="company-document__navigation"></div>
        </div>
    </section>

    <section class="specialist">
        <div class="container">
            <h2>ПОЗНАКОМЬТЕСЬ С <span class="text-accent">НАШИМИ СПЕЦИАЛИСТАМИ</span></h2>
            <div class="specialist-content">
                <div class="specialist-box">
                    <div class="photo"><img src="img/master1.png" alt=""></div>
                    <h4>Владимир</h4>
                    <p>мастер отделочник,
                       стаж 10 лет</p>
                </div>
                <div class="specialist-box">
                    <div class="photo"><img src="img/master2.png" alt=""></div>
                    <h4>Александр</h4>
                    <p>мастер по ремонту,
                       стаж 12 лет</p>
                </div>
                <div class="specialist-box">
                    <div class="photo"><img src="img/master3.png" alt=""></div>
                    <h4>Сергей</h4>
                    <p>сантехник,
                       стаж 15 лет</p>
                </div>
                <div class="specialist-box">
                    <div class="photo"><img src="img/master4.png" alt=""></div>
                    <h4>Андрей</h4>
                    <p>мастер по ремонту,
                       стаж 15 лет</p>
                </div>
            </div>
        </div>
    </section>

    <section class="warranty">
        <div class="container">
            <h2>МЫ ДАЕМ <span class="text-accent">ГАРАНТИИ</span> НА НАШУ РАБОТУ</h2>

            <div class="warranty-content">
                <div class="warranty-box">
                    <div class="icon"><img src="img/baby-tub2.png" alt=""></div>
                    <h4 class="text-accent">На акриловый <br>
                                            вкладыш российского
                                            производителя «ИСКомп»</h4>
                    <ul class="list-check">
                        <li>
                            <span class="fa fa-check"></span>
                            <p>Наша компания устанавливает только фирменные вкладыши из австрийского акрила производства
                               российского завода ИСКомп;</p>
                        </li>
                        <li>
                            <span class="fa fa-check"></span>
                            <p>ГлавВанн дает гарантию на установленный в ванну акриловый вкладыш 2 года, при соблюдении
                               требований и правил эксплуатации;</p>
                        </li>
                        <li>
                            <span class="fa fa-check"></span>
                            <p>Срок службы акриловых вкладышей составляет 15-20 лет, при соблюдении требований эксплуатации.</p>
                        </li>
                    </ul>
                </div>
                <div class="warranty-box">
                    <div class="icon"><img src="img/paint2.png" alt=""></div>
                    <h4 class="text-accent">На акриловую <br>
                                            заливкку российского
                                            производителя «ИСКомп»</h4>
                    <ul class="list-check">
                        <li>
                            <span class="fa fa-check"></span>
                            <p>Наша компания использует фирменную заливку стакрил</p>
                        </li>
                        <li>
                            <span class="fa fa-check"></span>
                            <p>ГлавВанн дает гарантию на акриловую заливку 1 год, при соблюдении требований и правил эксплуатации;</p>
                        </li>
                        <li>
                            <span class="fa fa-check"></span>
                            <p>Срок службы акриловой заливки составляет 10-15 лет, при соблюдении требований эксплуатации.</p>
                        </li>
                    </ul>
                </div>
                <div class="warranty-box">
                    <div class="icon"><img src="img/driller3.png" alt=""></div>
                    <h4 class="text-accent">На проведенные
                                            ремонтные работы</h4>
                    <ul class="list-check">
                        <li>
                            <span class="fa fa-check"></span>
                            <p>Компания работает только
                               с качественными материалами
                               от надежных производителей;</p>
                        </li>
                        <li>
                            <span class="fa fa-check"></span>
                            <p>ГлавВанн дает гарантию на выполненные работы по ремонту ванных комнат и санузлов</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


</div>
@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/jquery.event.move.js"></script>
<script src="js/jquery.twentytwenty.js"></script>
<script src="js/common.js"></script>
</body>
</html>
