<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-box">
                <a href="#" class="logo"></a>
                <ul class="list-social">
                    <li><a href="#"><img src="img/vk.png" alt=""></a></li>
                    <li><a href="#"><img src="img/facebook-logo.png" alt=""></a></li>
                    <li><a href="#"><img src="img/inst.png" alt=""></a></li>
                </ul>

            </div>

            <div class="footer-box">
                <ul class="footer-menu">
                    <li><a href="page-services.html">Услуги</a></li>
                    <li><a href="page-price.html">Цены</a></li>
                    <li><a href="page-about.html">О нас</a></li>
                </ul>
            </div>

            <div class="footer-box">
                <ul class="footer-menu">
                    <li><a href="page-reviews.html">Отзывы</a></li>
                    <li><a href="page-work.html">Наши работы</a></li>
                    <li><a href="page-contacts.html">Контакты</a></li>
                </ul>
            </div>

            <div class="footer-box">
                <ul class="list-phone">
                    <li><a href="tel:+79273232966" class="phone">+7 (927) 323 29 66</a></li>
                    <li><a href="tel:+79197272234" class="phone">+7 (919) 727 22 34</a></li>
                </ul>

                <a href="mailto:latypovaalfiya@yandex.ru" class="mail">latypovaalfiya@yandex.ru</a>

                <p class="box-address">190066, г. Москва, ул. Шарикоподшипниковая, д. 12</p>
                <p class="box-schedule">Ежедневно с 10:00 до 22:00</p>
            </div>
        </div>

        <div class="footer-bottom">
            <a href="#" class="developer">
                <span class="img"><img src="img/oleoleo.png" alt=""></span>
                <span>- Создание и продвижение сайтов</span>
            </a>

            <p>© 2010 - 2019 GLAVVANN. Все права защищены</p>
        </div>
    </div>
</footer>

<div class="modal__div" id="reviews__modal">
    <div class="modal__wrapper">
        <h2>ОСТАВЬТЕ СВОЙ ОТЗЫВ <span class="text-accent">СЕЙЧАС!</span></h2>
        <h6>Ваш отзыв будет опубликован в течение суток</h6>

        <form method="post" class="form-callback">
            <label><input type="text" name="name" placeholder="Ваше имя"></label>
            <label><input type="text" name="mail" placeholder="Email"></label>
            <label class="label-comment"><input type="text" name="message" placeholder="Ваш отзыв"></label>

            <label class="radio">
                <input class="radio-inp" type="radio" name="radio">
                <span class="radio-custom"></span>
                <span class="label">Согласен на обработку персональных данных
и соглашаюсь с политикой конфиденциальности</span>
            </label>

            <button type="submit" class="btn-accent">ОТПРАВИТЬ</button>
        </form>
    </div>
</div>
<div class="overlay"></div><!-- Пoдлoжкa -->