<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>РЕСТАВРАЦИЯ ВАНН АКРИЛОМ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/twentytwenty.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="page-services.html">Установка акриловых вкладышей в ванну</a></li>
            </ul>
        </div>
    </div>

    <section class="section-services">
        <div class="container">
            <h1 class="title-page">УСТАНОВКА <span class="text-accent">АКРИЛОВЫХ ВКЛАДЫШЕЙ</span> В ВАННУ</h1>

            <div class="description">
                <p>На сегодняшний день, реставрация ванны методом акриловая ванна в ванну является истинной находкой для
                   тех, кто решил быстро и не дорого обновить изношенную поверхность. Преимуществом реставрации при
                   помощи акрилового вкладыша является не только идеально белый конечный результат, но и заметное
                   продление практического срока службы ванны. Сразу после реставрации методом ванна в ванну, устаревшая
                   становится более прочной, ударостойкой, а также устойчивой в механическим повреждениям и резким
                   перепадом температур. Благодаря специальной акриловой эмали, из которой изготавливается вкладыш,
                   достигается максимальный уровень экологической безопасности и бактериальной устойчивости.</p>
            </div>

            <div class="gallery-slider">
                <div class="slide">
                    <div class="twentytwenty-container">
                        <img src="img/slide2.jpg" alt="">
                        <img src="img/slide1.jpg" alt="">
                    </div>
                </div>

                <div class="slide">
                    <div class="twentytwenty-container">
                        <img src="img/slide1.jpg" alt="">
                        <img src="img/slide2.jpg" alt="">
                    </div>
                </div>

                <div class="slide">
                    <div class="twentytwenty-container">
                        <img src="img/slide1.jpg" alt="">
                        <img src="img/slide2.jpg" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="twentytwenty-container">
                        <img src="img/slide2.jpg" alt="">
                        <img src="img/slide1.jpg" alt="">
                    </div>
                </div>

                <div class="slide">
                    <div class="twentytwenty-container">
                        <img src="img/slide1.jpg" alt="">
                        <img src="img/slide2.jpg" alt="">
                    </div>
                </div>

                <div class="slide">
                    <div class="twentytwenty-container">
                        <img src="img/slide1.jpg" alt="">
                        <img src="img/slide2.jpg" alt="">
                    </div>
                </div>
            </div>

            <h3>Реставрация ванны акриловым вкладышем</h3>

            <a href="#" class="btn-accent btn-call">ХОЧУ ТАКУЮ ЖЕ ВАННУ</a>
        </div>
    </section>

    <section class="section-price">
        <div class="container">
            <h2>НАШИ <span class="text-accent">ЦЕНЫ</span></h2>
            <div class="section-price-content">

                <div class="panel-wrapper">
                    <div class="panel_heading">
                        <div class="block_title">
                            <h3>Установка акриловых вкладышей в ванну</h3>
                        </div>
                        <div class="block_hover">
                            <ul class="price-list">
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Средство по уходу за акриловыми вкладышами</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="price">400 руб.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="list-check list-explanation">
                    <li><span class="fa fa-check"></span>
                        <p>Мы устанавливаем акриловые вкладыши фирмы «ИСКомп» (акрил - Австрия, производство -
                           Россия).</p></li>
                    <li><span class="fa fa-check"></span>
                        <p>Время установки акрилового вкладыша без дополнительных работ составляет примерно 2 часа.</p>
                    </li>
                    <li><span class="fa fa-check"></span>
                        <p>Учитывайте, что после установки вкладыша сразу пользоваться ванной нельзя, должно пройти не
                           менее 10 часов.</p></li>
                    <li><span class="fa fa-check"></span>
                        <p>В цену установки входит: выезд замерщика, сам вкладыш с установкой, его доставка в пределах
                           МКАД, поднятие на этаж. Гарантия 2 года.</p></li>
                    <li><span class="fa fa-check"></span>
                        <p>При выезде мастера за пределы МКАД взимается дополнительная плата <span class="text-accent">+30 рублей</span>
                           за каждый
                           километр от МКАД.</p></li>

                </ul>
            </div>
        </div>
    </section>

    <section class="advantages">
        <div class="container">
            <h2>НАШИ <span class="text-accent">ПРЕИМУЩЕСТВА</span></h2>
            <div class="advantages-content">
                <div class="advantages-box">
                    <div class="icon"><img src="img/team.png" alt=""></div>
                    <h5>Многолетный опыт</h5>
                    <p>Наша компания имеет многолетнюю историю, что доказывает, что нам можно доверить такую непростую
                       работу, как реставрация ванн</p>
                </div>
                <div class="advantages-box">
                    <div class="icon"><img src="img/stopwatch.png" alt=""></div>
                    <h5>Оперативность</h5>
                    <p>Мы всегда стараемся сделать все работы максимально быстро, не нарушая при этом технологии и нормы
                       ремонтных и восстановительных работ</p>
                </div>
                <div class="advantages-box">
                    <div class="icon"><img src="img/cart.png" alt=""></div>
                    <h5>Материалы</h5>
                    <p>В своей работы мы используем материалы известных брендов проверенные временем и имеющие все
                       необходимые сертификаты качества</p>
                </div>
                <div class="advantages-box">
                    <div class="icon"><img src="img/results.png" alt=""></div>
                    <h5>Работа на результат</h5>
                    <p>Мы не гонимся за прибылью, а нацелены на качественный результат, который удовлетворит любого,
                       даже самого взыскательного клиента</p>
                </div>
                <div class="advantages-box">
                    <div class="icon"><img src="img/rating.png" alt=""></div>
                    <h5>Индивидуальный подход</h5>
                    <p>К каждому нашему клиенту мы всегда стараемся применить индивидуальный подход и учесть в работе
                       все его пожелания</p>
                </div>
                <div class="advantages-box">
                    <div class="icon"><img src="img/shield.png" alt=""></div>
                    <h5>Надежность</h5>
                    <p>За годы работы нашей компании мы успели зарекомендовать себя как надежная фирма, на которую можно
                       положиться в любых ситуациях</p>
                </div>
            </div>
        </div>
    </section>

    <section class="question">
        <div class="container">
            <h2><span class="text-accent">ОТВЕТЫ</span> НА ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>

            <div class="panel-wrapper">
                <div class="panel_heading">
                    <div class="block_title">
                        <h3>Что такое акриловый вкладыш и жидкий акрил?</h3>
                    </div>
                    <div class="block_hover">
                        <div class="answer">
                            <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                               во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                               более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                               которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                               покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                               не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                               стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                               Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                               дешевле.</p>
                        </div>
                    </div>
                </div>
                <div class="panel_heading">
                    <div class="block_title">
                        <h3>Что выбрать: акриловый вкладыш или жидкий акрил?</h3>
                    </div>
                    <div class="block_hover">
                        <div class="answer">
                            <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                               во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                               более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                               которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                               покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                               не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                               стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                               Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                               дешевле.</p>
                        </div>
                    </div>
                </div>
                <div class="panel_heading">
                    <div class="block_title">
                        <h3>Сколько прослужит новое покрытие? </h3>
                    </div>
                    <div class="block_hover">
                        <div class="answer">
                            <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                               во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                               более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                               которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                               покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                               не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                               стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                               Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                               дешевле.</p>
                        </div>
                    </div>
                </div>
                <div class="panel_heading">
                    <div class="block_title">
                        <h3>Как долго проходит процедура реставрации ванны? </h3>
                    </div>
                    <div class="block_hover">
                        <div class="answer">
                            <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                               во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                               более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                               которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                               покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                               не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                               стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                               Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                               дешевле.</p>
                        </div>
                    </div>
                </div>
                <div class="panel_heading">
                    <div class="block_title">
                        <h3>После проведения работ можно сразу пользоваться ванной? </h3>
                    </div>
                    <div class="block_hover">
                        <div class="answer">
                            <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                               во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                               более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                               которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                               покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                               не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                               стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                               Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                               дешевле.</p>
                        </div>
                    </div>
                </div>
                <div class="panel_heading">
                    <div class="block_title">
                        <h3>Даете ли вы гарантии на работы?</h3>
                    </div>
                    <div class="block_hover">
                        <div class="answer">
                            <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                               во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                               более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                               которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                               покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                               не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                               стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                               Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                               дешевле.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="callback-wrapper">
        <div class="container">
            <h2>НОВАЯ ВАННА УЖЕ СЕЙЧАС!
                <span>ОСТАВЬ ЗАЯВКУ И ПОЛУЧИТЕ</span> <span class="text-accent">СКИДКУ 15%</span></h2>
            <h3>Наш специалист свяжется с Вами, чтобы ответить на ваши вопросы,
                совершенно бесплатно!</h3>

            <form method="post" class="form-callback">
                <label><input type="text" name="name" placeholder="Ваше имя"></label>
                <label><input type="text" name="phone" placeholder="Номер телефона"></label>
                <label class="label-comment"><input type="text" name="message" placeholder="Комментарий"></label>

                <label class="radio">
                    <input class="radio-inp" type="radio" name="radio">
                    <span class="radio-custom"></span>
                    <span class="label">Согласен на обработку персональных данных
и соглашаюсь с политикой конфиденциальности</span>
                </label>

                <button type="submit" class="btn-accent">ОТПРАВИТЬ</button>
            </form>
        </div>
    </section>
</div>
@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/jquery.event.move.js"></script>
<script src="js/jquery.twentytwenty.js"></script>
<script src="js/common.js"></script>
</body>
</html>
