<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>РЕСТАВРАЦИЯ ВАНН АКРИЛОМ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/twentytwenty.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="page-reviews.html">Отзывы</a></li>
            </ul>
        </div>
    </div>

    <section class="section-reviews">
        <div class="container">
            <div class="section-title">
                <h2>ОТЗЫВЫ <span class="text-accent">НАШИХ КЛИЕНТОВ</span></h2>
                <a href="#reviews__modal" class="links-accent open_modal">ОСТАВИТЬ ОТЗЫВ</a>
            </div>

            <div class="reviews-content">
                <div class="reviews-box">
                    <div class="photo">
                        <div class="img"><img src="img/photo1.jpg" alt=""></div>
                    </div>
                    <div class="text">
                        <div class="reviews-text">
                            <p>Совсем недавно купили квартиру, вторичку. Соответственно везде нужно было делать
                               ремонт после бывших хозяев.
                               В ванной комнате ремонт требовался особенно остро. Однако в денежном плане после
                               покупки квартиры не всё
                               так гладко и мы решили сделать по-минимуму. Решили устанавливать акриловый вкладыш.
                               Обратились в фирму «Вкладыш Вам». Приехал мастер, быстренько установил новый вкладыш.
                               По качеству работ ничего плохого сказать не могу, ванна выглядит как новая, а по
                               деньгам гораздо дешевле новой!</p>
                        </div>
                        <h4>Владимир</h4>
                    </div>
                </div>

                <div class="reviews-box">
                    <div class="photo">
                        <div class="img"><img src="img/bathtub.png" alt=""></div>
                    </div>
                    <div class="text">
                        <div class="reviews-text">
                            <p>Все мы к сожалению не вечно молоды и красивы, собственно как и моя ванна))) Ее возврат не
                               сосчитать, а состояние можно назвать «мертвым». Долго я искала «докторов», которые смогут
                               оживить ее… И нашла!!! Ими оказалась компания Лидерванн. Они не только «оживили» мою
                               ванну, а сделали ее безупречной «молодой» и красивой. Вот теперь задумываюсь, кто же из
                               нас красивее?!) Респект вашей компании и искреннее спасибо. За красотой и качеством всем
                               сюда. Рекомендую!</p>
                        </div>
                        <h4>София</h4>
                    </div>
                </div>

                <div class="reviews-box">
                    <div class="photo">
                        <div class="img"><img src="img/bathtub.png" alt=""></div>
                    </div>
                    <div class="text">
                        <div class="reviews-text">
                            <p>Хочу выразить огромную благодарность Вашей компании за работу на высшем уровне. Особенно
                               мастеру Сергею, который на следующий день после замеров приехал, и не только качественно
                               поставил новый вкладыш, но и отлично справился с демонтажем старого вкладыша. Пользуемся
                               всей семьей уже почти месяц, и никаких недостатков не видим)))) Огромное Вам спасибо за
                               Ваш труд! Будем рекомендовать Вас друзьям.</p>
                        </div>
                        <h4>Людмила</h4>
                    </div>
                </div>

                <div class="reviews-box">
                    <div class="photo">
                        <div class="img"><img src="img/bathtub.png" alt=""></div>
                    </div>
                    <div class="text">
                        <div class="reviews-text">
                            <p>№ Заказа: 0000-001970</p>
                            <p>Что понравилось: пришёл молодой энергичный парень, все нужные вещи и инструменты у него
                               были с собой. Первым делом после знакомства он достал тапочки и дальше работал в них.
                               После себя также всё убрал в отдельный пакет, оставив ванную стерильной и блестящей.
                               Вся работа заняла примерно полтора часа.</p>
                            <p>Качество работы на высоте — ванная нигде не прогибается, сифон установлен хорошо, не
                               протекает, вода хорошо уходит.</p>
                            <p>Что насторожило: прайс-лист у замерщиков и у мастера отличался. Нельзя сказать, что у
                               кого-то всё было дороже, нет, это был просто другой прайс-лист. Итоговая сумма отличалась
                               на 300р, так что не проблема, но лучше цену уточнять заранее.</p>
                        </div>
                        <h4>Юрий</h4>
                    </div>
                </div>

                <div class="reviews-box">
                    <div class="photo">
                        <div class="img"><img src="img/bathtub.png" alt=""></div>
                    </div>
                    <div class="text">
                        <div class="reviews-text">
                            <p>Поменяли вкладыш в ванну, пока делали замеры, Кирилл Бирюков, менеджер, предложил ремонт
                               в туалете (туда было страшно войти). Думала, что растянут надолго. За два дня из туалета
                               сделали конфетку, поменяв и кафель на полу, и панели на стенах и потолке, Даже дверцу,
                               закрывающую трубы заменили. Вкладыш в ванну тоже порадовал. Все отлично. Мастер Рустам
                               очень пунктуальный, приезжал вовремя, работал без перекуров, весь мусор за собой убрал.
                               Работой очень довольна. Если буду делать ремонт в квартире, обращусь в эту компанию</p>
                        </div>
                        <h4>Татьяна</h4>
                    </div>
                </div>

                <div class="reviews-box">
                    <div class="photo">
                        <div class="img"><img src="img/bathtub.png" alt=""></div>
                    </div>
                    <div class="text">
                        <div class="reviews-text">
                            <p>Хочу оставить слова благодарности о работе этой компании. Долго думали с женой – менять
                               старую ванну или отреставрировать то, что есть. Ввиду того, что второй вариант выходил
                               значительно дешевле, выбрали его. И к счастью не прогадали. Никакой разницы между новой
                               ванной и восстановленной акрилом я не заметил. Мастер Андрей – настоящий профи! Все было
                               сделано четко, быстро и профессионально.</p>
                        </div>
                        <h4>Геннадий</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/jquery.event.move.js"></script>
<script src="js/jquery.twentytwenty.js"></script>
<script src="js/common.js"></script>
</body>
</html>
