<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>РЕСТАВРАЦИЯ ВАНН АКРИЛОМ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/twentytwenty.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<div class="content page-content">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </div>
    </div>

    <section class="faq">
        <div class="container">
            <h2><span class="text-accent">ОТВЕТЫ</span> НА ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>

            <div class="tabs tabs-work">
                <ul class="tabs__caption">
                    <li>
                        <div class="icon"><img src="img/baby-tub.png" alt=""></div>
                        <p>АКРИЛОВЫЙ
                           ВКЛАДЫШ</p>
                    </li>
                    <li class="active">
                        <div class="icon"><img src="img/paint.png" alt=""></div>
                        <p>ЖИДКИЙ
                           АКРИЛ</p>
                    </li>
                    <li>
                        <div class="icon"><img src="img/paint-brushes.png" alt=""></div>
                        <p>РЕСТАВРАЦИЯ
                           ВАНН</p>
                    </li>
                    <li>
                        <div class="icon"><img src="img/tiles.png" alt=""></div>
                        <p>УКЛАДКА
                           ПЛИТКИ</p>
                    </li>
                    <li>
                        <div class="icon"><img src="img/driller.png" alt=""></div>
                        <p>РЕМОНТ САНУЗЛОВ
                           И ВАННЫХ КОМНАТ</p>
                    </li>
                </ul>

                <div class="tabs__content">
                    <div class="panel-wrapper">
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что такое акриловый вкладыш и жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что выбрать: акриловый вкладыш или жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Сколько прослужит новое покрытие? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Как долго проходит процедура реставрации ванны? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>После проведения работ можно сразу пользоваться ванной? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Даете ли вы гарантии на работы?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__content active">
                    <div class="panel-wrapper">
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что такое акриловый вкладыш и жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что выбрать: акриловый вкладыш или жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Сколько прослужит новое покрытие? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Как долго проходит процедура реставрации ванны? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>После проведения работ можно сразу пользоваться ванной? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Даете ли вы гарантии на работы?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__content">
                    <div class="panel-wrapper">
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что такое акриловый вкладыш и жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что выбрать: акриловый вкладыш или жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Сколько прослужит новое покрытие? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Как долго проходит процедура реставрации ванны? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>После проведения работ можно сразу пользоваться ванной? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Даете ли вы гарантии на работы?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">
                    <div class="panel-wrapper">
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что такое акриловый вкладыш и жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что выбрать: акриловый вкладыш или жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Сколько прослужит новое покрытие? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Как долго проходит процедура реставрации ванны? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>После проведения работ можно сразу пользоваться ванной? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Даете ли вы гарантии на работы?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">
                    <div class="panel-wrapper">
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что такое акриловый вкладыш и жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Что выбрать: акриловый вкладыш или жидкий акрил?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Сколько прослужит новое покрытие? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Как долго проходит процедура реставрации ванны? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>После проведения работ можно сразу пользоваться ванной? </h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel_heading">
                            <div class="block_title">
                                <h3>Даете ли вы гарантии на работы?</h3>
                            </div>
                            <div class="block_hover">
                                <div class="answer">
                                    <p>Описывать преимущества и недостатки этих двух технологий можно долго. Но если коротко, то
                                       во всех подходящих случаях старайтесь выбирать акриловый вкладыш, т.к. эта технология
                                       более надежна из-за того, что к вам домой привозят уже готовое покрытие для ванны,
                                       которое нужно только вклеить. В случае с наливным акрилом, работы по формированию нового
                                       покрытия проходят прям у вас дома, а этот процесс уже связан с различными рисками, т.к.
                                       не у всех дома имеются идеальные для этого условия. С другой стороны, все вкладыши
                                       стандартизированы и для нестандартной ванны вам останется выбрать только наливной акрил.
                                       Также, плюсом наливного акрила можно считать цену, т.к. эта технология несколько
                                       дешевле.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/jquery.event.move.js"></script>
<script src="js/jquery.twentytwenty.js"></script>
<script src="js/common.js"></script>
</body>
</html>
