<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>РЕСТАВРАЦИЯ ВАНН АКРИЛОМ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/twentytwenty.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<div class="content page-content page-content-price">

    <div class="breadcrumbs-wrapper">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="page-price.html">Цены</a></li>
            </ul>
        </div>
    </div>

    <section class="section-price">
        <div class="container">
            <h2>НАШИ <span class="text-accent">ЦЕНЫ</span></h2>
            <div class="section-price-content">

                <div class="panel-wrapper">
                    <div class="panel_heading">
                        <div class="block_title">
                            <h3>Реставрация старых ванн</h3>
                        </div>
                        <div class="block_hover">
                            <ul class="price-list">
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Средство по уходу за акриловыми вкладышами</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="price">400 руб.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel_heading">
                        <div class="block_title">
                            <h3>Установка акриловых вкладышей в ванну</h3>
                        </div>
                        <div class="block_hover">
                            <ul class="price-list">
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Средство по уходу за акриловыми вкладышами</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="price">400 руб.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel_heading">
                        <div class="block_title">
                            <h3>Заливка ванны жидким акрилом</h3>
                        </div>
                        <div class="block_hover">
                            <ul class="price-list">
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Средство по уходу за акриловыми вкладышами</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="price">400 руб.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel_heading">
                        <div class="block_title">
                            <h3>Ремонт ванных комнат и санузлов панелями ПВХ</h3>
                        </div>
                        <div class="block_hover">
                            <ul class="price-list">
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Средство по уходу за акриловыми вкладышами</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="price">400 руб.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel_heading">
                        <div class="block_title">
                            <h3>Укладка кермической плитки</h3>
                        </div>
                        <div class="block_hover">
                            <ul class="price-list">
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка акрилового вкладыша </p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Установка розового акрилового вкладыша</p>
                                        <strong>170 см</strong>
                                    </div>
                                    <div class="time">1,5 - 2 часа</div>
                                    <div class="price">5 000 руб.</div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Средство по уходу за акриловыми вкладышами</p>
                                        <strong>150 см</strong>
                                    </div>
                                    <div class="price">400 руб.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="list-check list-explanation">
                    <li><span class="fa fa-check"></span>
                        <p>Мы устанавливаем акриловые вкладыши фирмы «ИСКомп» (акрил - Австрия, производство -
                           Россия).</p></li>
                    <li><span class="fa fa-check"></span>
                        <p>Время установки акрилового вкладыша без дополнительных работ составляет примерно 2 часа.</p>
                    </li>
                    <li><span class="fa fa-check"></span>
                        <p>Учитывайте, что после установки вкладыша сразу пользоваться ванной нельзя, должно пройти не
                           менее 10 часов.</p></li>
                    <li><span class="fa fa-check"></span>
                        <p>В цену установки входит: выезд замерщика, сам вкладыш с установкой, его доставка в пределах
                           МКАД, поднятие на этаж. Гарантия 2 года.</p></li>
                    <li><span class="fa fa-check"></span>
                        <p>При выезде мастера за пределы МКАД взимается дополнительная плата <span class="text-accent">+30 рублей</span>
                           за каждый
                           километр от МКАД.</p></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="callback-wrapper">
        <div class="container">
            <h2>НОВАЯ ВАННА УЖЕ СЕЙЧАС!
                <span>ОСТАВЬ ЗАЯВКУ И ПОЛУЧИТЕ</span> <span class="text-accent">СКИДКУ 15%</span></h2>
            <h3>Наш специалист свяжется с Вами, чтобы ответить на ваши вопросы,
                совершенно бесплатно!</h3>

            <form method="post" class="form-callback">
                <label><input type="text" name="name" placeholder="Ваше имя"></label>
                <label><input type="text" name="phone" placeholder="Номер телефона"></label>
                <label class="label-comment"><input type="text" name="message" placeholder="Комментарий"></label>

                <label class="radio">
                    <input class="radio-inp" type="radio" name="radio">
                    <span class="radio-custom"></span>
                    <span class="label">Согласен на обработку персональных данных
и соглашаюсь с политикой конфиденциальности</span>
                </label>

                <button type="submit" class="btn-accent">ОТПРАВИТЬ</button>
            </form>
        </div>
    </section>
</div>
@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/jquery.event.move.js"></script>
<script src="js/jquery.twentytwenty.js"></script>
<script src="js/common.js"></script>
</body>
</html>
